@use "../../commons/scss/mixin.scss";
@use "../../commons/scss/color.scss";

.work-row-container {
  position: relative;

  .work-row-content {
    width: calc(100% - 30px);
    height: 60px;
    margin: 15px;
    @include mixin.gray-thin-border;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: color.$p-text-color;
      text-align: center;
      overflow: hidden;
    }
    .work-info-1 {
      width: 20%;
    }
    .work-info-2 {
      width: 80%;
    }
    .vertical-line {
      height: 60px;
      width: 1px;
      background-color: color.$p-border-color;
    }
  }
  .work-modal {
    position: absolute;
    right: -240px;
    top: -120px;
  }
}
