$p-color: red;
$s-color: blue;

$p-text-color: rgb(80, 80, 80);
$s-text-color: white;
$n-text-color: rgb(30, 30, 30);
$p-border-color: lightgray;

$p-bg: rgb(245, 245, 245);
$p-bg-opacity: rgba(245, 245, 245, 0.4);
$s-bg: white;

$dark-gray-color: rgb(93, 93, 93);
$gray-color: rgb(157, 157, 157);
$light-gray-color: rgb(220, 220, 220);
