@use "../../commons/scss/mixin";
@use "../../commons/scss/color";

.author-modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 200px;
  @include mixin.gray-thin-border;
  border-radius: 10px;
  background-color: color.$s-bg;

  .author-modal-body {
    height: 280px;
    width: 180px;
    margin: 10px;
    .author-key {
      height: 40px;
      width: 180px;
      text-align: center;
      line-height: 40px;
      font-size: 18px;
    }
    .author-info-others {
      ul {
        padding: 0 !important;
        margin: 0 !important;
        li {
          width: 180px;
          height: fit-content;
          display: flex;
          justify-content: space-between;
          list-style-type: none;
          p:first-child {
            text-align: start;
            margin-right: 5px;
          }
          p:last-child {
            text-align: end;
          }
        }
      }
      a {
        width: fit-content;
        padding: 10px 20px;
        @include mixin.gray-thin-border;
        font-size: 15px;
        color: color.$s-text-color;
        background-color: color.$dark-gray-color;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
